.hub-map-marker-badge {
    background: var(--badgeColor);
    color: var(--badgeTextColor);
}
article.content a,
article.content .content-byline .content-author-name a,
article.content a.content-author-name {
    color: var(--badgeColor);
}