<div class="hub-map-marker-bg">
  {{#badge_count}}<div class="hub-map-marker-badge">{{ badge_count }}</div>{{/badge_count}}
  <span><img class="hub-map-marker-thumbnail" src="{{ thumbnail_url }}"></span>
  <span></span>
  <span></span>
</div>
