<div class="hub-map-marker-bg">
    <img class="hub-map-marker-thumbnail" src="{{ thumbnail_url }}">
    {{#badge_count}}<div class="hub-map-marker-badge">{{ badge_count }}</div>{{/badge_count}}
</div>
